.master-spot-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  max-width: 65%;
}

.spot-name-header {
  font-size: 26pt;
  font-weight: 400;
  margin-bottom: 4px;
}

.spot-details-header {
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 2px;
}

.spot-header-container {
  margin-bottom: 3px;
  font-size: 14pt;
}

.image-container {
  vertical-align: bottom;
  height: 30vw;
  /* height: 600px; */
}

.spot-image {
  object-fit: cover;
  height: 100%;
  width: 100%;
  /* vertical-align: bottom; */
  border-radius: 18px;
}

.spot-description {
  /* margin-top: 15px; */
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 500px;
  flex-wrap: wrap;
  font-size: 14pt;
  font-weight: 400;
}

.spot-footer-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-bottom: 30px;
}

.spot-price-rating-reviews {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: solid 1px grey; */
  border-radius: 15px;
  height: 60px;
  width: 330px;
  padding-left: 15px;
  padding-right: 15px;
  box-shadow: 0px 0px 8px grey;
}

.spot-review-rating {
    display: flex;
    align-items: center;
    width: 140px;
    justify-content: space-between;
}

.spot-rating-a {
  margin-top: 2px;
}

.rating-align {
  margin-left: 9px;
}

.this-star-align {
  margin-right: 3px;
}

.spot-price {
  display: flex;
  align-items: baseline;
  font-size: 15pt;
  font-weight: 700;
  width: 150px;
}

.night-price {
  font-size: 12pt;
  font-weight: 400;
  margin-left: 5px;
  bottom: 10px;
}

.spot-reviews-header {
  display: flex;
  align-items: center;
  border-top: 1px solid lightgrey;
  padding-top: 25px;
  /* margin-top: 20px; */
  margin-bottom: 20px;
  justify-content: space-between;
  /* box-shadow: 0px 0px 1px grey; */

}



.spot-rating-b {
  margin-top: 40px;
  margin-left: 1px;
}

.review-modal-button {
  border: none;
  border-radius: 8px;
  background-color: #EC5C74;
  height: 25px;
  width: 120px;
  font-size: 10pt;
  font-weight: 600;
  color: white;
  cursor: pointer;
}

/* Review Card */
.review-card-container {
  border: 1px solid lightgrey;
  border-radius: 20px;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 20px;
}

.review-card-review {
  flex-wrap: wrap;
  font-size: 14pt;
  font-weight: 400;
  word-break: break-all;
  max-height: 100px;

}

.review-card-stars {
  margin-right: 3px;
  margin-bottom: 10px;
}

.all-spot-reviews {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-auto-rows: 150px;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
}

.spot-rating-reviews-container {
  font-size: 16pt;
  font-weight: 400;
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.delete-button {
  border: none;
  background-color: #EC5C74;
  color: white;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
}


.review-modal-delete {
  border: none;
  border-radius: 8px;
  background-color: #EC5C74;
  height: 25px;
  width: 120px;
  font-size: 10pt;
  font-weight: 600;
  color: white;
  cursor: pointer;
  margin-left: 12px;
}

.update-spot-container {
  display: flex;
  justify-content: right;
  margin-bottom: 12px;
}

.icon-align {
  margin-bottom: 5px;
  margin-top: 9px;
}
