.card-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  height: 350.75px;
  width: 300.8px;
  margin-bottom: 5px;
  /* border: solid black 5px; */
}

.preview-image-container {
  width: 300.8px;
  height: 285.75px;
}

.preview-image {
  width: 300.8px;
  height: 285.75px;
  border-radius: 5%;
  object-fit: cover;
}

.spot-card-details {
  height: 50px;
  width: 300.8px;
}

.spot-card-rating {
  margin-left: 4px;
}

.top-details-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px;
}

.spot-cty-st {
  font-weight: 600;
}


.spot-night-price {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 5px
}

.spt-price {
  font-weight: 600;
  margin-right: 4px;
}
